[Desktop Entry]
Type=Application
Name=midiplayer
Comment=MIDI sheet music player with piano and FluidSynth audio
StartupWMClass=com.pulpoff.midiplayer
Exec=/usr/bin/midiplayer %f
Icon=midiplayer
Terminal=false
Categories=Audio;Music;Player;
MimeType=audio/midi;audio/x-midi;
